<html>
    <head>
        <title>Daftar Materi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div th:fragment="content">
        <body data-ng-app="aplikasiPelatihan">
            <script th:src="@{/js/angular.min.js}"></script>
            <script th:src="@{/js/pelatihan.js}"></script>
            <div ng-controller="MateriController">
                <div class="card">
                    <h5 class="card-header">Input Materi</h5>

                    <div class="card-body">

                        <form>
                            <div class="form-group">
                                <label for="kodeMateri">Kode Materi</label>
                                <input type="text" class="form-control" id="kodeMateri" aria-describedby="kodeHelp" ng-model="materi.kode" required="true" />
                                <small id="kodeHelo" class="form-text text-muted" />ex. JF-00# 
                            </div>
                            <div class="form-group">
                                <label for="namaMateri">Nama Materi</label>
                                <input type="text" class="form-control" id="namaMateri" aria-describedby="namaHelp" ng-model="materi.nama" required="true" />
                            </div>
                            <button ng-click="simpanMateri()" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Daftar Materi</h5>
                    <div class="card-body">
                        <table class="table table-condensed table-striped table-hover">
                            <thead thead class="thead-dark">
                                <tr>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="m in daftarMateri.content">
                                    <th>{{m.kode}}</th>
                                    <th>{{m.nama}}</th>
                                    <th><button ng-click="hapusMateri(m)">Hapus</button></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        </body>
    </div>
</html>
