<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Daftar User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="content">
            <main role="main" data-ng-app="aplikasiPelatihan">
                <script th:src="@{/js/angular.min.js}"></script>
                <script th:src="@{/js/pelatihan.js}"></script>
                <div ng-controller="UsersController">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="m in daftarUsers.content">
                                <th>{{m.username}}</th>
                                <th>{{m.password}}</th>
                                <th>{{m.active}}</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </main>
        </div>
    </body>
</html>
