<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>TES THYMELEAF</title>
    </head>
    <body>
        <div th:fragment="content">
            
                    <main role="main">
                        Halo! <span <span sec:authentication="name"></span>
                            <br />
                            <span th:text="'Waktu saat ini : '+${Waktu}"></span>
                            
                    </main>

             




        </div>

    </body>
</html>