<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <link th:href="@{/css/aplikasi.css}" rel="stylesheet">
        <link th:href="@{/css/footer.css}" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">PTP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <ul class="navbar-nav px-3">
                    <li class="nav-item text-nowrap">
                        <div sec:authorize="isAuthenticated()">
                            <form class="nav-link" name="f" th:action="@{/logout}" method="POST">
                                <input type="submit" value="Logout" />
                            </form>
                        </div>

                    </li>
                </ul>



            </div>
        </nav>
        <div class="container-fluid" sec:authorize="isAuthenticated()">
            <link th:href="@{/css/dashboard.css}" rel="stylesheet">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <span data-feather="home"></span>
                                    Halo! <span sec:authentication="name"></span>
                                    <span sec:authorize="hasRole('ROLE_ADMIN')">(Admin)</span>
                                    <span sec:authorize="hasRole('ROLE_STAF')">(Staf)</span>
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link" th:href="@{/users/list}">
                                    <span data-feather="users"></span>
                                    Pengguna
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
                <script>
                    feather.replace();
                </script>
            </div>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container" th:replace="${view} :: content">Ini content</div>

        </main>


        <footer class="footer">
            <div class="container">
                <span class="text-muted">Ini adalah Footer.</span>
            </div>
        </footer>
    </body>
</html>
