<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <link th:href="@{/css/aplikasi.css}" rel="stylesheet">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">PTP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>


                </ul>

            </div>
        </nav>
        <main role="main">
            <div class="container" th:replace="${view} :: content">Ini content</div>
            
        </main>
        
        <div>Ini footer</div>
    </body>
</html>
